* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.welcome {
  height: 100vh;
  background: url(./images/Kigali-Convention-Centre.jpg);
  background-size: cover;
  text-align: center;
}
#welcome-message {
  color: white;
  padding-top: 20vh;
  font-size: 5em;
  text-shadow: 0 0 10px black;
  margin-bottom: 15px;
}
#welcome-para {
  display: inline;
  color: white;
  font-size: 2em;
  text-shadow: 0 0 10px black;
  border: 2px solid white;
  border-radius: 5px;
  padding: 12px 6px;
  box-shadow: 0 0 10px black;
  backdrop-filter: blur(2px);
}
#welcome-para:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  text-shadow: none;
}
.activities {
  height: 100vh;
  text-align: center;
  padding-top: 50px;
  background-color: #f0f0f0;
}
.place {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.cards {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card-message {
  width: 250px;
  margin-top: 20px;
}
.card-title {
  margin: 20px 0;
}
#head {
  font-size: 30px;
}
.footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile {
  width: 600px;
  height: 400px;
  background-color: rgb(191, 239, 223);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin: 10px auto;
  padding: 10px;
}
#prof {
  width: 400px;
  height: 300px;
  margin-top: 20px;
  border-radius: 10px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
span {
  color: rgb(13, 219, 106);
  text-shadow: 0 0 1px rgb(13, 219, 106);
}
