* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.welcome {
  height: 100vh;
  background: url(./images/Kigali-Convention-Centre.jpg);
  background-size: cover;
  text-align: center;
}
#welcome-message {
  color: white;
  padding-top: 20vh;
  font-size: 5em;
  text-shadow: 0 0 10px black;
  margin-bottom: 15px;
}
#welcome-para {
  display: inline;
  color: white;
  font-size: 2em;
  text-shadow: 0 0 10px black;
  border: 2px solid white;
  border-radius: 5px;
  padding: 12px 6px;
  box-shadow: 0 0 10px black;
  backdrop-filter: blur(2px);
}
#welcome-para:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  text-shadow: none;
}
.activities {
  height: 100vh;
  text-align: center;
  padding-top: 50px;
}
.place {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.cards {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
